<!DOCTYPE html>
<html>
<head>
	<title>LitRev</title>
	<%= stylesheet_link_tag		"application" %>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
